{% if page.excerpt && page.title %}
{% if page.image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ page.image | absolute_url }}">
{% elsif page.icon %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://danielsaidi.com/assets/icons/{{ page.icon }}.png">
{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://danielsaidi.com/assets{{page.id}}/image.jpg">
{% endif %}
<meta name="twitter:site" content="@danielsaidi">
<meta name="twitter:creator" content="@danielsaidi">
<meta name="twitter:title" content="{{ page.title }}">
{% if page.excerpt %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate:140 }}">
{% endif %}
{% endif %}