---
id: home
title: Home
layout: default

image:  /assets/headers/icon.png

hero: /assets/devices.png
hero-title: Welcome to KeyboardKit

description: Build amazing iOS keyboard extensions with Swift & SwiftUI
---

<div class="home-content paper">
  
  <section>
    <p>
      KeyboardKit is an <a href="{{site.urls.github}}">open-source</a> SDK that lets you create <a href="/about">custom iOS keyboard extensions</a> with native technologies like <a href="{{site.urls.swiftui}}">Swift</a> & <a href="{{site.urls.swiftui}}">SwiftUI</a>.
    </p>
    <p>
      KeyboardKit is free, has many <a href="/features">great features</a> and can be extended with <a href="/pro">pro features</a> that take your keyboard to the next level.
    </p>
  </section>

  <section>
    <h2>Explore</h2>
    {% include kankoda/grid/features.html features=site.data.home-features %}
  </section>

  <hr />

  <section>
    <h2>Blog</h2>
    <p> 
      Follow the <a href="/blog">KeyboardKit blog</a> for news & updates.
    </p>
    <div class="grid home blog list">
      {% for post in site.posts limit:2 %}
      <div>
        {% include kankoda/blog/list-item.html post=posts.first tag-limit=1 %}
      </div>
      {% endfor %}
    </div>
  </section>

  <hr />

  <section>
    <div class="grid home centered">
      <div class="column">
        {% include kankoda/titles/section.html title="Social Media" %}
        <p>Follow KeyboardKit on <a href="{{site.urls.twitter}}">Twitter</a> and <a href="{{site.urls.mastodon}}">Mastodon</a> for the latest news.</p>
      </div>
      <div class="column">
        {% include kankoda/titles/section.html title="Newsletter" %}
        <p>Subscribe to <a href="{{site.urls.newsletter}}">the KeyboardKit newsletter</a> for periodic updates.</p>
        {% include kankoda/widgets/newsletter.html %}
      </div>
    </div>
  </section>

  <hr />
  
  <section>
    {% include kankoda/titles/section.html title="Case Studies" link="/case-studies" %}
    <p> 
      <article>
        Check out some <a href="/case-studies">case-studies</a> of amazing apps & products that use KeyboardKit in their keyboards.
      </article>
    </p>
    {% include case-study-links.html limit=2 %}
  </section>
</div>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/145496578.js"></script>
<!-- End of HubSpot Embed Code -->