---
id: home
title: Home
layout: plain

image:  /assets/headers/icon.jpg

page-class: glass-background bg1

hero:
  eyebrow: KeyboardKit
  title: Create amazing custom keyboards
  image: /assets/feature-promos/plain-blueprint-split.png
  description: KeyboardKit lets you create custom keyboard apps for all Apple platforms, using modern technologies like Swift & SwiftUI.
  tagline: 

description: 
---

<div class="home-content paper">
  
  <section class="wrapper wide">
    <h2>What is a Custom Keyboard?</h2>
    <p>
      A custom keyboard replaces the native iOS keyboard and can provide unique <a href="features">features</a>, specialized <a href="features/layout">layouts</a>, extended <a href="features/localization">language support</a>, powerful <a href="features/ai">AI tools</a>, and personalized experiences.
    </p>
    <div class="cta-container">
      <a class="cta secondary" href="about">
        Learn more
      </a>
      <a class="cta" href="features">
        KeyboardKit
      </a>
    </div>
  </section>

  <section class="wrapper wide">
    <h2>Getting Started</h2>
    <p>
      KeyboardKit is completely free to start using. Add it to from <a href="{{site.urls.github}}">GitHub</a> and follow the <a href="{{site.urls.docs}}">documentation</a> to create your very own custom keyboard. You'll be up and running in minutes.
    </p>
    <div class="cta-container">
      <a class="cta secondary" href="{{site.urls.docs}}">
        Documentation
      </a>
      <a class="cta" href="{{site.urls.github}}">
        GitHub
      </a>
    </div>
  </section>
  
  <section class="wrapper wide">
    <h2>Native Feel, Unlimited Potential</h2>
    <p>
      KeyboardKit lets you build custom keyboards that look and feel native, but where all <a href="features">features</a> and every aspect of the keyboard can be customized - giving you complete creative freedom.
    </p>
    <div class="grid col2">
      <div class="slide-in feature-box">
        <h3>Autocomplete</h3>
        <img src="/assets/feature-promos/autocomplete.png" alt="Autocomplete feature" />
        <p>
          Autocomplete suggestions help users type faster and more accurately with intelligent predictions.
        </p>
        <div class="cta-container">
          <a class="cta secondary" href="features/autocomplete">
            Learn more
          </a>
        </div>
      </div>
      <div class="slide-in feature-box delay-1">
        <h3>Dictation</h3>
        <img src="/assets/feature-promos/dictation.png" alt="Dictation feature" />
        <p>
          Voice-to-text dictation provides hands-free typing and makes it possible to implement voice commands.
        </p>
        <div class="cta-container">
          <a class="cta secondary" href="features/dictation">
            Learn more
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper wide">
    <h2>Explore</h2>
    {% include kankoda/grids/features features=site.data.home-features %}
  </section>

  <section class="wrapper wide">
    <h2>Latest News</h2>
    <p> 
      Follow the <a href="/blog">KeyboardKit blog</a> for news & updates.
    </p>
    <div class="grid home blog list">
      {% for post in site.posts limit:2 %}
      <div>
        {% include kankoda/blog/image-item post=posts.first tag-limit=1 %}
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="wrapper">
    <div class="grid col2">
      <div>
        <h2>Social Media</h2>
        <p>Follow KeyboardKit on <a href="{{site.urls.bluesky}}">Bluesky</a> and <a href="{{site.urls.mastodon}}">Mastodon</a> for the latest news.</p>
        <div>
          {% include kankoda/buttons/social name="bluesky" href=site.urls.bluesky class="scale" %}
          {% include kankoda/buttons/social name="mastodon" href=site.urls.mastodon class="scale" %}  
        </div>
      </div>
      <div>
        <h2>Newsletter</h2>
        <p>Subscribe to <a href="{{site.urls.newsletter}}">the KeyboardKit newsletter</a> for periodic updates.</p>
        {% include kankoda/widgets/newsletter %}
      </div>
    </div>
  </section>
  
  <section class="wrapper">
    <h2>Case Studies</h2>
    <p> 
      Check out some <a href="/case-studies">case-studies</a> of amazing apps & products that use KeyboardKit in their keyboards.
    </p>
    {% assign studies = site.case-studies | where:"featured",1 %}
    {% include case-study-links.html items=studies limit=4 featured=true %}
  </section>

  <section class="wrapper">
    {% include features-footer.html %}
  </section>
</div>