---
id: home
title: Home
layout: default

image:  /assets/headers/icon.jpg

page-class: glass-background bg1

hero-image: /assets/devices.png
hero-title: KeyboardKit
hero-description: KeyboardKit is an SDK that makes it easy to create keyboard apps on all major Apple platforms, using Swift & SwiftUI.
hero-tagline: Create amazing custom iOS keyboards

description: KeyboardKit is a powerful SDK for creating custom keyboard extensions
---

<div class="home-content paper">
  
  <section>
    <p>
      KeyboardKit lets you create <a href="/about">custom keyboards</a> in no time, using technologies like <a href="{{site.urls.swift}}">Swift</a> & <a href="{{site.urls.swiftui}}">SwiftUI</a>.
      It's <a href="{{site.urls.github}}">free to start using</a>, has many <a href="/features">features</a> and can be extended with <a href="/pro">pro features</a>.
    </p>
  </section>

  <section>
    <h2>Explore</h2>
    {% include kankoda/grids/features features=site.data.home-features %}
  </section>

  <section>
    <h2>Latest News</h2>
    <p> 
      Follow the <a href="/blog">KeyboardKit blog</a> for news & updates.
    </p>
    <div class="grid home blog list">
      {% for post in site.posts limit:2 %}
      <div>
        {% include kankoda/blog/image-item post=posts.first tag-limit=1 %}
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h2>Social Media</h2>
    <p>Follow KeyboardKit on <a href="{{site.urls.bluesky}}">Bluesky</a> and <a href="{{site.urls.mastodon}}">Mastodon</a> for the latest news.</p>
    <div>
      {% include kankoda/buttons/social name="bluesky" href=site.urls.bluesky class="scale" %}
      {% include kankoda/buttons/social name="mastodon" href=site.urls.mastodon class="scale" %}  
    </div>
  </section>

  <section>
    <h2>Newsletter</h2>
    <p>Subscribe to <a href="{{site.urls.newsletter}}">the KeyboardKit newsletter</a> for periodic updates.</p>
    {% include kankoda/widgets/newsletter %}
  </section>
  
  <section>
    <h2>Case Studies</h2>
    <p> 
      Check out some <a href="/case-studies">case-studies</a> of amazing apps & products that use KeyboardKit in their keyboards.
    </p>
    {% assign studies = site.case-studies | where:"featured",1 %}
    {% include case-study-links.html items=studies limit=4 featured=true %}
  </section>

  {% include features-footer.html %}
</div>