<section class="grid licenses">
  <div class="license">
    <h3>Basic</h3>
    <div class="features">
      <p>✔&nbsp; 1 App</p>
      <p>✔&nbsp; 1 Extra Locale</p>
      <p>✔&nbsp; Autocomplete Engine</p>
      <p>&nbsp; </p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Basic License">$100/year</a>
    </h4>
  </div>
  <div class="license">
    <h3>Silver</h3>
    <div class="features">
      <p>✔&nbsp; 1 App</p>
      <p>✔&nbsp; 5  Extra Locales</p>
      <p>✔&nbsp; Autocomplete Engine</p>
      <p>&nbsp; </p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Silver License">$500/year</a>
    </h4>
  </div>
  <div class="license">
    <h3>Gold</h3>
    <div class="features">
      <p>✔&nbsp; 1 App</p>
      <p>✔&nbsp; All Locales</p>
      <p>✔&nbsp; Autocomplete Engine</p>
      <p>&nbsp; </p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Gold License">$1000/year</a>
    </h4>
  </div>
</section>