{% include kankoda/gumroad/script.html %}

<section class="license-table">

  <div class="grid table-header">
    <div class="feature"></div>
    <div class="basic">
      <h3>Basic</h3>
      <p>$500/year</p>
    </div>
    <div class="silver">
      <h3>Silver</h3>
      <p>$750/year</p>
    </div>
    <div class="gold">
      <h3>Gold</h3>
      <p>$1,000/year</p>
    </div>
  </div>

  <div class="table-section-header">Locales</div>
  <div class="grid">
    <div class="feature">Locales</div>
    <div>1</div>
    <div><b>5</b></div>
    <div style="font-size: 1.1em"><b>{% include locales/count.html %}</b></div>
  </div>
  
  <div class="table-section-header even">Fully customizable</div>
  <div class="grid even">
    <div class="feature">Fully customizable</div>
    <div>✔</div>
    <div>✔</div>
    <div>✔</div>
  </div>
  
  <div class="table-section-header">Localized services</div>
  <div class="grid">
    <div class="feature">Localized services</div>
    <div>✔</div>
    <div>✔</div>
    <div>✔</div>
  </div>

  <div class="table-section-header even">Additional views</div>
  <div class="grid even">
    <div class="feature">Additional views</div>
    <div>✔</div>
    <div>✔</div>
    <div>✔</div>
  </div>

  <div class="table-section-header">Emoji skintones</div>
  <div class="grid">
    <div class="feature">Emoji skintones</div>
    <div>✔</div>
    <div>✔</div>
    <div>✔</div>
  </div>

  <div class="table-section-header even">Local autocomplete *</div>
  <div class="grid even">
    <div class="feature">Local autocomplete *</div>
    <div>✔</div>
    <div>✔</div>
    <div>✔</div>
  </div>

  <div class="table-section-header">Remote autocomplete</div>
  <div class="grid">
    <div class="feature">Remote autocomplete</div>
    <div>-</div>
    <div>-</div>
    <div>✔</div>
  </div>

  <div class="table-section-header even">Read full document</div>
  <div class="grid even">
    <div class="feature">Read full document</div>
    <div>-</div>
    <div>-</div>
    <div>✔</div>
  </div>

  <hr />

  <div class="table-section-header">Onboarding call</div>
  <div class="grid">
    <div class="feature">Onboarding call</div>
    <div>-</div>
    <div>-</div>
    <div>✔</div>
  </div>

  <div class="table-section-header even">Support</div>
  <div class="grid even">
    <div class="feature">Support</div>
    <div>GitHub</div>
    <div>GitHub</div>
    <div>Priority</div>
  </div>

  <div class="table-section-header">KK logo on site</div>
  <div class="grid">
    <div class="feature">Our logo on your site</div>
    <div>✔</div>
    <div>Optional</div>
    <div>Optional</div>
  </div>

  <div class="table-section-header even">Your icon on KK site</div>
  <div class="grid even">
    <div class="feature">Your icon on our site</div>
    <div>✔</div>
    <div>Optional</div>
    <div>Optional</div>
  </div>

  <div class="table-section-header">Used in marketing</div>
  <div class="grid">
    <div class="feature">Used in marketing</div>
    <div>✔</div>
    <div>Optional</div>
    <div>Optional</div>
  </div>



  <div class="grid">
    <div class="feature"></div>
    <div>{% include kankoda/gumroad/button.html product="keyboardkit-pro-basic" %}</div>
    <div>{% include kankoda/gumroad/button.html product="keyboardkit-pro-silver" %}</div>
    <div>{% include kankoda/gumroad/button.html product="keyboardkit-pro-gold" %}</div>
  </div>

</section>