<section class="grid licenses">
  <div>
    <div class="license basic">
      <h3>Basic</h3>
      <div class="features">
        <p>✔&nbsp; 1 App</p>
        <p>✔&nbsp; 1 Locale</p>
        <p>✔&nbsp; Local autocomplete</p>
        <p>✔&nbsp; Remote autocomplete</p>
        <p>✔&nbsp; Document proxy utils</p>
        <p>✔&nbsp; Additional views</p>
      </div>
      <h4>
        <a href="{{site.gumroad-basic}}">$500/year</a>
      </h4>
    </div>
    {% include gumroad-button.html product="keyboardkit-pro-basic" %}
  </div>
  <div>
    <div class="license silver">
      <h3>Silver</h3>
      <div class="features">
        <p>✔&nbsp; 1 App</p>
        <p>✔&nbsp; 5 Locales</p>
        <p>✔&nbsp; Local autocomplete</p>
        <p>✔&nbsp; Remote autocomplete</p>
        <p>✔&nbsp; Document proxy utils</p>
        <p>✔&nbsp; Additional views</p>
      </div>
      <h4>
        <a href="{{site.gumroad-silver}}">$750/year</a>
      </h4>
    </div>
    {% include gumroad-button.html product="keyboardkit-pro-silver" omit-script=true %}
  </div>
  <div>
    <div class="license gold">
      <h3>Gold</h3>
      <div class="features">
        <p>✔&nbsp; 1 App</p>
        <p>✔&nbsp; 50+ locales</p>
        <p>✔&nbsp; Local autocomplete</p>
        <p>✔&nbsp; Remote autocomplete</p>
        <p>✔&nbsp; Document proxy utils</p>
        <p>✔&nbsp; Additional views</p>
      </div>
      <h4>
        <a href="{{site.gumroad-gold}}">$1000/year</a>
      </h4>
    </div>
    {% include gumroad-button.html product="keyboardkit-pro-gold" omit-script=true %}
  </div>
</section>