<section class="license-table oss-vs-pro">

  <div class="grid table-header">
    <div class="feature"></div>
    <div class="basic">
      <h3><a href="/open-source">Open-source</a></h3>
      <p>Free</p>
    </div>
    <div class="gold">
      <h3><a href="/pro">Pro</a></h3>
      <p>from $500/y</p>
    </div>
  </div>

  {% include kankoda/licenses/row.html row=00 feature="Locales (Languages)" columns="US English,<b>61</b>" title="KeyboardKit Pro unlocks fully localized keyboards and services for all locales." url="locales" %}

  <hr />

  {% include kankoda/licenses/row.html row=01 feature="Works offline" columns="✔,✔" title="KeyboardKit Pro works offline, except features that require a network connection." %}
  {% include kankoda/licenses/row.html row=02 feature="Fully customizable" columns="✔,✔" title="KeyboardKit Pro lets you customize input keys and layout, use custom views, styles and logic etc." url="/customization" %}
  {% include kankoda/licenses/row.html row=03 feature="Open-source features" columns="✔,✔" title="KeyboardKit Pro builds upon the same open-source functionality and extension points that are available to everyone" url="/features" %}
  
  {% include kankoda/licenses/row.html row=04 feature="Local autocomplete" columns="-,✔" title="KeyboardKit Pro unlocks local autocomplete that uses on-device technologies to provide autocomplete suggestions." %}
  {% include kankoda/licenses/row.html row=05 feature="Remote autocomplete" columns="-,✔" title="KeyboardKit Pro unlocks a remote autocomplete provider that lets you connect to external autocomplete APIs and services." %}  
  {% include kankoda/licenses/row.html row=06 feature="Dictation" columns="-,✔" title="KeyboardKit Pro unlocks a dictation engine that lets you start dictation from a keyboard." url="/dictation" %}
  {% include kankoda/licenses/row.html row=07 feature="Themes" columns="-,✔" title="KeyboardKit Pro unlocks a theme engine with several pre-defined themes." url="/themes" %}
  {% include kankoda/licenses/row.html row=08 feature="Read entire document" columns="-,✔" title="KeyboardKit Pro lets you read the entire document, instead of just the text next to the input cursor." %}  
  {% include kankoda/licenses/row.html row=09 feature="Emoji power features" columns="-,✔" title="KeyboardKit Pro unlocks emoji skintone variants, which are automatically added to the emoji keyboards, as well as version information." %}
  {% include kankoda/licenses/row.html row=10 feature="Additional views" columns="-,✔" title="KeyboardKit Pro unlocks additional views, such as toolbars, toggles, dictation views, and more." %}
  
  <hr />

  

  <div class="grid">
    <div class="feature"></div>
    <div></div>
    <div><a href="/pro">Learn more</a></div>
  </div>
</section>