.site-header {
  min-height: 0px;
	border: 0 !important;
  padding-top: 15px;

  a {
    font-weight: 600;
  }

  .row {
    align-items: center;
    min-height: 40px;
  }

  .logo img {
    max-height: 25px;
    margin-top: -5px;
  }

  .logo img.icon {
    max-height: 50px;
  }

  .logo:hover {
    transform: none;
    transform: scale(1.04);
  }

  .column:nth-of-type(1) {
    flex-basis: 20%;
    text-align: left;
  }

  .column:nth-of-type(2) {
    flex-basis: 75%;
    text-align: right;
  }

  .menu {
    font-size: 0.8em;
  }

  .pricing {
    background-color: gold;
    padding: 5px 10px;
    border-radius: 1em;
  }
}

.glass-background .site-footer {
  background: white;
}

.site-footer {
  margin-top: 0px;
  border: 0 !important;
  background: linear-gradient($texture-overlay, $texture-overlay), $footer-background;

  padding-top: 0px;
  text-align: center;

  ul + p { 
    margin: 20px; 
  }

  .row {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .column {
    opacity: 0.75;
    flex-basis: 20%;
    font-size: smaller;
    
    p {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    p:first-of-type {
      margin-top: 0px;
    }

    a, div {
      font-weight: normal;
      margin-bottom: 5px;
      min-height: 10px;
    }

    a:hover, a:visited:hover {
      transform: translateX(2px);
    }
  }

  .copyright {
    text-align: center;
  }

  @media (max-width: 800px) {
    .row {
      margin-left: 10px;
      margin-bottom: 0px;
    }

    .column { 
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }
}

.site-footer.paper {

  hr {
    margin-top: 0;
  }
}