$background: #fafafc;
$background-secondary: #e0e0e8;
$background-tertiary: #d8d8e0;

$foreground: black;
$foreground-contrast: white;
$foreground-secondary: #333;
$foreground-tertiary: #666;

$border: #ddd;
$border-tertiary: #ccc;

$button-container-background: $background-tertiary;
$button-container-border: $border-tertiary;
$button-container-foreground: $foreground;
$button-container-selected-background: white;
$button-container-selected-foreground: black;

$code-background: #f3f3f366;
$code-foreground: black;
$code-border: #ccc;

$code-block-background: #112;
$code-block-foreground: white;

$cta-blue: #0171E3;
$cta-background: $cta-blue;
$cta-foreground: white;
$cta-border: transparent;

$cta-secondary-background: transparent;
$cta-secondary-foreground: $cta-blue;
$cta-secondary-border: $cta-blue;

$feature-table-border-color: $border;
$feature-table-background: white;
$feature-table-even-row-color: #f7f7f7;
$feature-table-shadow-color: transparent;

$footer-background: $background-secondary;
$footer-background-glass: $background;

$link: black;
$link-hover: #888;

$quote-background: #f9f9f9;

$shadow: #00000065;

$tag-background: black;
$tag-foreground: white;
$tag-hover: #223;
$tag-border: solid 1px black;

$tag-swift: #E44D35;
$tag-swiftui: #004080;

$texture: transparent;
$texture-size: 350px;
$texture-overlay: transparent;