$background: #F5F5F7;
$background-secondary: #e0e0e8;
$background-tertiary: #d8d8e0;

$foreground: black;
$foreground-contrast: white;
$foreground-secondary: #666;
$foreground-tertiary: #888;

$border: #ddd;
$border-secondary: #ddd;
$border-tertiary: #ccc;

$button-container-background: $background-tertiary;
$button-container-border: $border-tertiary;
$button-container-foreground: $foreground;
$button-container-selected-background: white;
$button-container-selected-foreground: black;

$code-background: #e9e9e9;
$code-foreground: black;
$code-border: #ccc;

$code-block-background: #112;
$code-block-foreground: white;

$cta-background: $foreground;
$cta-foreground: $foreground-contrast;

$feature-table-border-color: $border;
$feature-table-background: white;
$feature-table-even-row-color: #f7f7f7;
$feature-table-shadow-color: transparent;

$footer-background: $background-secondary;

$link: black;
$link-hover: #888;

$quote-background: #f9f9f9;

$shadow: #00000065;

$tag-background: black;
$tag-foreground: white;
$tag-hover: #223;
$tag-border: solid 1px black;

$tag-swift: #E44D35;
$tag-swiftui: #004080;

$texture: transparent;
$texture-size: 350px;
$texture-overlay: transparent;