.blog {

  .list {

    margin-top: 50px;

    article + article {
      margin-top: 50px;
    }
  }
}

article.post .grid {
  margin: 40px 0px !important;
}

.post-header {
  font-size: medium; 
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 25px;
  color: $foreground-secondary !important;

  .tag {
    font-size: smaller; 
    font-weight: normal;
  }
}

.list {
  
  .post-header {
    margin-top: -10px;
  }
}

.disqus {

  .comments {
    width: 100% !important;
  }
}