.cta {
  text-align: center;
}

div.cta {
  margin: 50px 0;
}

.cta a, a.cta {
  color: $cta-foreground;
  background-color: $cta-background;
  border-color: $cta-border;
  border-radius: 100px;
  display: inline-block;
  font-weight: 600;
  font-size: medium;
  min-width: 100px;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
}

.cta a:hover, a.cta:hover, .cta a:visited, a.cta:visited {
  color: $cta-foreground !important;
}

a.cta.secondary, a.cta.secondary:hover, a.cta.secondary:visited,
.cta a.secondary, .cta a.secondary:hover, .cta a.secondary:visited
 {
  color: $cta-background !important;
  background-color: $cta-foreground;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

a.scale:hover, a:hover .scale, a.cta:hover, .cta a:hover  {
  transform: scale(1.04);
}


section.app-store-button {
  margin: 50px 0px;
}

.app-store-button {
  img {
    width: 200px; 
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.back-button, .forward-button {
  font-size: medium;
}

.back-button + h1, .forward-button + h1 { margin-top: 20px; }
.back-button + h2, .forward-button + h2 { margin-top: 20px !important; }

.back-button + article, .forward-button + article {
  margin-top: 1em;
  h2:first-of-type { margin-top: 0em !important; }
}

.back-button {
  margin-left: -12px;
}

.forward-button {
  margin-right: -12px;
}

.back-button a:before, a.back-button:before {
  content: "«";
}

a.forward-button:after {
  content: "»";
}


.social-button {
  width: 30px;
  height: 30px;
  padding: 0 10px;
  background-color: $foreground;
  display: inline-block;
}

.social-button.bluesky {
  mask: url(/assets/kankoda/social-icons/bluesky.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/bluesky.svg) no-repeat center;
}

.social-button.instagram {
  mask: url(/assets/kankoda/social-icons/instagram.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/instagram.svg) no-repeat center;
}

.social-button.github {
  mask: url(/assets/kankoda/social-icons/github.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/github.svg) no-repeat center;
}

.social-button.githubsponsors {
  mask: url(/assets/kankoda/social-icons/githubsponsors.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/githubsponsors.svg) no-repeat center;
}

.social-button.linkedin {
  mask: url(/assets/kankoda/social-icons/linkedin.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/linkedin.svg) no-repeat center;
}

.social-button.mastodon {
  mask: url(/assets/kankoda/social-icons/mastodon.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/mastodon.svg) no-repeat center;
}

.social-button.twitter {
  mask: url(/assets/kankoda/social-icons/twitter.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/twitter.svg) no-repeat center;
}