a.cta {
  color: $cta-foreground;
  background-color: $cta-background;
  border-color: $cta-border;
  border-radius: 100px;
  display: inline-block;
  font-weight: 600;
  font-size: medium;
  min-width: 100px;
  text-align: center;
  padding: 5px;
}

a.cta + a.cta {
  margin-left: 20px;
}

.hero a.cta, a.cta.padding {
  padding: 10px;
}

a.cta:hover { color: $cta-foreground; }
a.cta:visited { color: $cta-foreground !important; }

a.cta.secondary {
  color: $cta-secondary-foreground;
  background-color: $cta-secondary-background;
  border-color: $cta-secondary-border !important;
  border: solid 1px;
}

a.cta.secondary:hover { color: $cta-secondary-foreground; }
a.cta.secondary:visited { color: $cta-secondary-foreground !important; }

.cta-container {
  text-align: center;
  margin: 50px 0;
}

a.scale {
  text-decoration: none;
}

a.scale:hover, a:hover .scale {
  transform: scale(1.04);
}


section.app-store-button {
  margin: 50px 0px;
}

.app-store-button {
  img {
    width: 200px; 
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.back-button, .forward-button {
  font-size: medium;
}

.back-button + h1, .forward-button + h1 { margin-top: 20px; }
.back-button + h2, .forward-button + h2 { margin-top: 20px !important; }

.back-button + article, .forward-button + article {
  margin-top: 1em;
  h2:first-of-type { margin-top: 0em !important; }
}

.back-button {
  margin-left: -12px;
}

.forward-button {
  margin-right: -12px;
}

.back-button a:before, a.back-button:before {
  content: "«";
}

a.forward-button:after {
  content: "»";
}


.social-button {
  width: 30px;
  height: 30px;
  padding: 0 10px;
  background-color: $foreground;
  display: inline-block;
}

.social-button.bluesky {
  mask: url(/assets/kankoda/social-icons/bluesky.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/bluesky.svg) no-repeat center;
}

.social-button.instagram {
  mask: url(/assets/kankoda/social-icons/instagram.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/instagram.svg) no-repeat center;
}

.social-button.github {
  mask: url(/assets/kankoda/social-icons/github.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/github.svg) no-repeat center;
}

.social-button.githubsponsors {
  mask: url(/assets/kankoda/social-icons/githubsponsors.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/githubsponsors.svg) no-repeat center;
}

.social-button.linkedin {
  mask: url(/assets/kankoda/social-icons/linkedin.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/linkedin.svg) no-repeat center;
}

.social-button.mastodon {
  mask: url(/assets/kankoda/social-icons/mastodon.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/mastodon.svg) no-repeat center;
}

.social-button.twitter {
  mask: url(/assets/kankoda/social-icons/twitter.svg) no-repeat center;
  -webkit-mask: url(/assets/kankoda/social-icons/twitter.svg) no-repeat center;
}

article > .button-container {
  margin-top: 15px;
}

article > .button-container ~ .button-container {
  margin-top: 25px;
}

.button-container {
  font-size: small;
  text-align: center;
  margin-bottom: 50px;

  .group {
    padding: 15px 5px;
    border: solid 1px $button-container-border;
    border-radius: 20px;
    background-color: $button-container-background;

    a {
      padding: 10px;
      border-radius: 15px;
      display: inline-block;
      color: $button-container-foreground;
    }
  
    a.active {
      color: $button-container-selected-foreground;
      background-color: $button-container-selected-background;
      box-shadow: 0px 1px 2px $shadow;
    }
  }
}