.feature-table.two-tier .grid { grid-template-columns: repeat(3, 1fr); }
.feature-table.three-tier .grid { grid-template-columns: repeat(4, 1fr); }

.feature-table {

  font-size: 0.9em;
  margin: 60px 0;

  .glass {
    border-radius: 10px;
  }

  .grid {
    grid-column-gap: 5px;
    grid-template-columns: repeat(5, 1fr);

    > div {
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .tiers {
    position: sticky; 
    top: 0;

    .grid {
      padding: 6px;
      margin-bottom: 15px;
    }

    .tier {
      border-radius: 7px;
      display: block;
      text-align: center;
      border: solid 1px $feature-table-border-color;
    }

    h3 {
      font-size: 1.1em;
    }

    h3, p {
      margin: 0; padding: 0;
    }

    h3+div {
      font-weight: 500;

      .subtitle {
        font-size: smaller;
        font-weight: normal;
        opacity: 0.5;
      }
    }

    .cta {
      display: block;
      padding: 10px 15px;
      margin: 20px 10px 0px 10px; 
    }
  }

  .sections > div {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;

    .table-row:nth-child(even) {
      background-color: $feature-table-even-row-color;
    }

    .feature { 
      justify-content: left;
      font-size: small;
      font-weight: bold;
      margin-left: 10px;
    }

    .feature.header {
      display: none;
      padding: 5px 5px 0px 5px;
    }
  }

  .sections > div + div {
    margin-top: 20px;
  }
}

@media (max-width: 950px) {

  .feature-table.two-tier .grid { grid-template-columns: repeat(2, 1fr) !important; }
  .feature-table.three-tier .grid { grid-template-columns: repeat(3, 1fr) !important; }

  .feature-table {

    .grid {
      grid-template-columns: repeat(3, 1fr) !important;

      .feature {
        display: none;
        background-color: red;
      }

      > div:nth-child(2) {
        display: none;
      }
    }

    .feature.header {
      display: inherit !important;
    }
  }
}
  
@media (max-width: 600px) {

  .feature-table {

    .cta {
      font-size: small;
      min-width: 10px;
    }
  }
}