.glass-panel {
  position: relative;
  z-index: 1;
}

.glass-panel::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .6; 
  z-index: -1;
  background: url('/assets/bg/glass-1.jpg');
  background-position: center;
  background-size: 100% 100%; /* Stretch image to exactly fill panel */
  background-repeat: no-repeat;
}

.glass-panel.bg-1::before { background-image: url('/assets/bg/glass-1.jpg'); }
.glass-panel.bg-2::before { background-image: url('/assets/bg/glass-2.jpg'); }
.glass-panel.bg-3::before { background-image: url('/assets/bg/glass-3.jpg'); }
.glass-panel.bg-4::before { background-image: url('/assets/bg/glass-4.jpg'); }
.glass-panel.bg-5::before { background-image: url('/assets/bg/glass-5.jpg'); }


.glass-item {
  background: rgba(255, 255, 255, 0.3) !important;  /* Semi-transparent white background */
  backdrop-filter: blur(10px);            /* The blur effect */
  -webkit-backdrop-filter: blur(10px);    /* For Safari support */
  border-radius: 12px;                    /* Rounded corners */
  border: 2px solid rgba(255, 255, 255, 0.3) !important; /* Light border for edge definition */
}

/* Dark variant */
.glass-item-dark {
  background: rgba(40, 40, 40, 0.25) !important;     /* Semi-transparent dark background */
  color: white;                           /* Light text for dark background */
}