.grid-title {
  margin: 10px;
}

p + .grid {
  margin: 50px 0px;
}

.grid { 
  display: grid; 
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  .column > h2 {
    margin-top: 0px;
  }
}

.grid.icons {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%; /* Ensures it doesn't grow beyond its cell */
    box-sizing: border-box;
  }
  p {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
  }
  img + p {
    margin-top: 15px;
  }
}

.grid.col2 { 
  grid-template-columns: repeat(2, 1fr);
}

.grid.col3 { 
  grid-template-columns: repeat(3, 1fr);
}

.grid.home {
  grid-column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.grid.home.centered {
  .column {
    text-align: center;
  }
}

.grid.icons, .grid.centered {
  text-align: center;
}

.grid.icons, .grid.features {
  grid-column-gap: 40px;

  a:hover, a:visited:hover {
    text-decoration: none;
  }
}

.grid.image-item {
  grid-template-columns: 2fr 2fr;
  gap: 3rem;
  align-items: end;

  div {
    text-align: left;
    margin-bottom: 20px;
    h3 { 
      font-size: 1.2em;
      margin-bottom: 0px;
    }
  }
}

.grid.image-item.reversed {
  img { order: 2; }
  p { order: 1; }
}

.grid.image-item + .grid.image-item {

  margin-top: 60px !important;
}

@media (max-width: 600px) {
  
  .grid.home { 
    grid-row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .grid.col4, .grid.icons { 
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid.col2, .grid.col3 { 
    grid-template-columns: repeat(1, 1fr);
  }

  .grid.image-item {
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    img { order: 1; }
    div { order: 2; }
  }
}

@media (max-width: 800px) {
  
  .grid.col3 { 
    grid-template-columns: repeat(2, 1fr);
  }
}