.grid.features {
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.9em;

  .image-container {
    padding: 15px 0;
    text-align: center;
    background-color: $background-secondary;

    .emoji {
      font-size: 5em;
    }

    img {
      width: 200px;
    }
  }

  h3, p {
    text-align: left;
  }

  h3 {
    margin: 25px 0 0 0;
  }
  
  p {
    font-weight: normal;
    margin-bottom: 15px;
  }

  p + .tag-list {
    font-size: small;
    margin-bottom: 25px;

    .open-source {
      background: #ddd;
      border-color: #aaa;
      color: black !important;
    }
  }
}

@media (max-width: 900px) {

  .grid.grid.features {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid.features.scrollable { 
    
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;

    grid-row-gap: 50px;
    grid-template-columns: repeat(100, 1fr);
    overflow: scroll;

    a {
      width: 270px;
    }
  }
}

@media (max-width: 500px) {

  .grid.grid.features {
    grid-template-columns: repeat(1, 1fr);
  }
}