section.hero {
  margin-top: 20px;
  margin-bottom: 60px;
}

section.hero + section.hero {
  margin-top: 0px;
}

section.hero.image.wrapper {
  max-width: 1100px;
}

section.hero {
  text-align: center;

  h1 { 
    font-size: 2.0em !important; 
    font-weight: 510;
  }

  h2 { 
    font-size: 2.3em; 
    font-weight: 600;
    margin-top: 0em;
  }

  h3 {
    opacity: 70%;
    font-size: 1.4em;
    margin-top: 30px;
  }

  img.app-icon {
    width: 150px;
    height: 150px !important;
    margin-bottom: 40px;
  }

  img.app-icon.large {
    width: 200px;
    height: 200px !important;
  }

  img.app-icon.small {
    width: 100px;
    height: 100px !important;
  }

  .emoji {
    font-size: 8em;
    margin-top: -40px !important;
    margin-bottom: 60px;
  }

  .cta-container {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {

  section.hero {
    h1 { font-size: 1.4em !important; }
    h2 { font-size: 1.6em !important; }
    h3 { font-size: 1.0em !important; }
  
    img.app-icon {
      width: 100px;
      height: 100px !important;
      margin-bottom: 20px;
    }

    .emoji {
      font-size: 4em;
    }
  }
}