.home {

  .home-content section {
    .grid {
      margin-top: 30px !important;
    }
  }

  .avatar + .social-buttons {
    p {
      margin-top: -10px;
      margin-bottom: 40px;
    }
  }

  .hero {
    img {
        width: 1000px;
    }
  }

  .social-buttons {
    img { 
      box-shadow: none;
    }
  }

  .blog {
    text-align: left;

    .grid {
      margin-top: 10px;
    }

    h2 {
      font-size: 1.2em;
      margin-top: 20px !important;
    }

    .tag {
      display: none;
    }
  }
}
