.home {

  section {

    article {
      text-align: left;
    }

    .grid {
      margin-top: 30px !important;
    }

    .grid.blog {
      h2 {
        margin-top: 0px;
      }
    }

    .blog {
      h2 {
        font-size: 1.2em;
      }
    }
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .avatar + .social-buttons {
    p {
      margin: 40px 0;
    }
  }

  .social-buttons {
    img { 
      box-shadow: none;
    }
  }
}
