.home {

  section {
    article {
      text-align: left;
    }
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .avatar + .social-buttons {
    p {
      margin: 40px 0;
    }
  }

  .social-buttons {
    img { 
      box-shadow: none;
    }
  }
}