p > img { margin: 50px 0; }
 
article img, .rounded {
  border-radius: 1em;
  img {
    border-radius: 0em;
  }
}

article img, .sticker {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article img, .sticker {
  box-shadow: 0px 1px 1px $shadow;
}

img.avatar {
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

img.cover, img.theme {
  border-radius: 5px;
}

.icons img, img.app-icon {
  border-radius: 23%;
}

img.plain {
  border-radius: 0px;
  box-shadow: none !important;
}