.site-header + .page-content {

  margin-top: 50px;
}

.page-content {

  padding-top: 0;
  padding-bottom: 80px;

  h2, h3, h4 { margin-top: 1.5em; }

  p + p { margin-top: 1.1em; }
}

.row {
  display: flex;
  flex-direction: row;
}

.centered {
  text-align: center;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
}

section + section {
  margin-top: 75px;
}

article + .grid {
  margin-top: 60px;
}