#gumroad-follow-form-embed {

    input, button {
        font-size: large;
        padding: 10px 20px;
        border-radius: 20px;
        border: solid 1px $site-background;
    }

    button {
        color: white;
        background-color: black;
    }
    
    button:active {
        color: white;
        background-color: #555;
    }
}

article {
    #gumroad-follow-form-embed {
        margin: 50px 0px;
        text-align: center;
    }
}

@media (max-width: 500px) {

    #gumroad-follow-form-embed {
        input, button {
            font-size: small !important;
        }
    }
}