.paper hr {
  background: url(kankoda/hr.png) no-repeat center top;
  background-size: 100% 10px;
  border: none;
  height: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.paper.header hr {
  margin-top: 15px;
  margin-bottom: -25px;
}

@media (max-width: 500px) {

  .paper + .page-content {
    padding-top: 0px;
  }  
}