.tag, .tag:visited {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0.5em;
  padding: 1px 9px 2px 9px;
  border-radius: 1em;
  background-color: $tag-background;
  border: $tag-border;
  color: $tag-foreground !important;
  font-weight: normal;
}

.tag.inline {
  font-size: small;
  display: inline-block;
  margin-bottom: -50px;
}

.tag.small {
  font-size: small; 
}

.tag:hover {
  background-color: $tag-hover;
  color: $tag-foreground;
}

.tag.pro {
  color: black !important;
  background-color: #ffcc00;
  border: solid 1px #ddaa00;
}

.tag.releases {
  color: black !important;
  background-color: white;
  border: solid 1px #aaa;
}

.tag.swift {
  background-color: $tag-swift;
  border: solid 1px $tag-swift;
}

.tag.swiftui {
  background-color: $tag-swiftui;
  border: solid 1px $tag-swiftui;
}

section.tag-list {
  margin-left: -4px;
  
  .tag {
    font-size: small; 
    margin-bottom: 5px;
  }
}

.tag-list.collapsed {
  height: 125px;
  overflow: hidden;
  border-bottom: solid 1px #0002;
  transition: all 200ms ease-in-out, color 1s ease-out 100ms !important;
}

.tag-list.expanded {
  height: inherit;
  border-bottom: none;
}

.tag-list-separator {
  text-align: center;

  a {
    margin: 20px;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.tag-list-toggle {
  font-size: small;
  display: inline-block;
}