{%- assign type = include.type -%}
{%- if type == "bands" or type == "photos" or type == "themes" -%}
{%- assign extension = "jpg" -%}
{%- else -%}
{%- assign extension = "png" -%}
{%- endif -%}
{%- assign image-folder = include.image-folder -%}

<div class="grid {{type}} {{include.class}}">
  {% for item in include.items %}
    {%- assign icon = item.icon | default: item.info.icon -%}
    {%- assign image = item.image | default: item.info.image -%}
    {%- assign title = item.title | default: item.name | default: item.info.name -%}
    {%- assign url = item.url | default: item.info.url -%}

    {% if include.ignore and title == include.ignore %}
      {% continue %}
    {% else %}
      {%- if url -%}
      <a href="{{ url }}" name="{{ item.name | slugify }}" title="{{ item.name }}">
        {% include kankoda/grids/grid-item.html type=type name=title icon=icon image=image image-class=include.image-class %}
      </a>  
      {%- else -%}
      <div>
        {% include kankoda/grids/grid-item.html type=type name=title icon=icon image=image image-class=include.image-class image-folder=include.image-folder %}
      </div>
      {%- endif -%}
    {% endif %}
  {% endfor %}
</div>