{% assign has-emoji = page.hero-emoji | size %}
{% assign has-icon = page.hero-icon | size %}
{% assign has-image = page.hero-image | size %}
{% assign has-title = page.hero-title | size %}

{% if has-icon > 0 or has-image > 0 or has-emoji > 0 or has-title > 0 %}
    {%- assign has-hero = 1 -%}
{% endif %}
  
{% if has-hero %}
<section class="hero {{page.hero-class}}">
    <div class="wrapper">
        {% if has-icon > 0 %}
        <img class="app-icon sticker" src="{{page.hero-icon}}" />
        {% endif %}
        <h1>{{page.hero-title | default: page.title}}</h1>
        <p>{{page.hero-description | default: page.description}}</p>
        {% if has-image > 0 %}
        <div class="image-wrapper">
            <img src="{{page.hero-image}}" alt="Hero image for {{page.id}} page" class="{{page.hero-image-class}}" />
        </div>
        {% elsif has-emoji > 0 %}
        <span class="emoji">
            {{page.hero-emoji}}
        </span>
        {% endif %}
    </div>
</section>
{% endif %}