{% assign hero_size = include.hero | size %}
{% assign emoji_size = include.emoji | size %}
{% assign icon_size = include.icon | size %}
{% assign paper_size = include.paper | size %}

{% if paper_size > 0 %}
{% assign class = include.class | append: "paper" %}
{% else %}
{% assign class = include.class %}
{% endif %}

<section class="hero {{class}}">
    <div class="wrapper">
        {% if icon_size > 0 %}
        <img class="app-icon sticker" src="{{include.icon}}" />
        {% endif %}
        <h1>{{include.title | default: page.title}}</h1>
        <p>{{include.description | default: page.description}}</p>
        {% if hero_size > 0 %}
        <div class="image-wrapper">
            <img src="{{include.hero}}" alt="Page hero image for {{page.id}} page" class="{{include.image-class}}" />
        </div>
        {% elsif emoji_size > 0 %}
        <span class="emoji">
            {{include.emoji}}
        </span>
        {% endif %}
    </div>
    {% if class contains "paper" %}
    {% else %}
    <div class="hero-line">
        <div class="line-content">
            <div class="line"></div>
            <div class="line-footer"></div>
        </div>
    </div>
    {% endif %}
    {% if class contains "paper" %}
    <hr />
    {% endif %}
</section>