<a name="core-features"></a>
<h2>Core Features</h2>
<p>
    KeyboardKit is packed with features to help you build amazing custom keyboards. You can upgrade to <a href="/pro">KeyboardKit Pro</a> to unlock <a href="#pro-features">pro features</a>.
</p>

{% include kankoda/grid/features.html features=site.data.core-features %}


<a name="pro-features"></a>
<h2>👑 Pro Features</h2>
<p>
    KeyboardKit Pro extends KeyboardKit's <a href="#core-features">core features</a> with Pro features that take your keyboard to the next level.
</p>

{% include kankoda/grid/features.html features=site.data.pro-features %}