<a name="core-features"></a>
<h2>Core Features</h2>
<p>
    KeyboardKit is packed with features to help you build amazing custom keyboards. You can upgrade to <a href="/pro">KeyboardKit Pro</a> to unlock <a href="#pro-features">pro features</a>.
</p>

{% include kankoda/grid/features.html features=site.data.core-features %}


<a name="pro-features"></a>
<h2>👑 Pro Features</h2>
<p>
    <a href="/pro">KeyboardKit Pro</a> unlocks pro features that take your keyboard to the next level. <a href="/pro">Go pro today!</a>
</p>

{% include kankoda/grid/features.html features=site.data.pro-features %}