{% if include.active == "features" %}
  {% assign features-class = "active" %}
{% elsif include.active == "pro" %}
  {% assign pro-class = "active" %}
{% elsif include.active == "pricing" %}
  {% assign pricing-class = "active" %}
{% endif %}

<div class="button-container navigator">
    <span class="group">
        <a href="/features" class="{{features-class}}">Features</a>
        <a href="/pro" class="{{pro-class}}">KeyboardKit Pro</a>
        <a href="/pricing" class="{{pricing-class}}">Pricing</a>
    </span>
</div>