<section class="grid licenses">
  <div>
    <h3>Basic</h3>
    <div>
      <p>✔&nbsp; All Pro Features</p>
      <p>✔&nbsp; 1 Extra Locale</p>
      <p>✔&nbsp; 1 Bundle*</p>
      <p>✔&nbsp; 1 Year</p>
      <p>&nbsp; </p>
    </div>
    <h4>$100/y</h4>
  </div>
  <div>
    <h3>Silver</h3>
    <div>
      <p>✔&nbsp; All Pro Features</p>
      <p>✔&nbsp; 5  Extra Locales</p>
      <p>✔&nbsp; 1 Bundle*</p>
      <p>✔&nbsp; 1 Year</p>
      <p>&nbsp; </p>
    </div>
    <h4>$500/y</h4>
  </div>
  <div>
    <h3>Gold</h3>
    <div>
      <p>✔&nbsp; All Pro Features</p>
      <p>✔&nbsp; All Locales</p>
      <p>✔&nbsp; 1 Additional Locale</p>
      <p>✔&nbsp; 1 Bundle*</p>
      <p>✔&nbsp; 1 Year</p>
    </div>
    <h4>$1000/y</h4>
  </div>
</section>