<section class="grid licenses centered">
  <div>
    <h3>
      <a href="mailto:{{site.email}}?subject=Basic License">Basic</a>
    </h3>
    <div>
      <p>✔&nbsp; 1 Extra Locale</p>
      <p>✔&nbsp; 1 Bundle*</p>
      <p>✔&nbsp; Autocomplete Engine</p>
      <p>&nbsp; </p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Basic License">$100/year</a>
    </h4>
  </div>
  <div>
    <h3>
      <a href="mailto:{{site.email}}?subject=Silver License">Silver</a>
    </h3>
    <div>
      <p>✔&nbsp; 5  Extra Locales</p>
      <p>✔&nbsp; 1 Bundle*</p>
      <p>✔&nbsp; Autocomplete Engine</p>
      <p>&nbsp; </p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Silver License">$500/year</a>
    </h4>
  </div>
  <div>
    <h3>
      <a href="mailto:{{site.email}}?subject=Gold License">Gold</a>
    </h3>
    <div>
      <p>✔&nbsp; All Locales</p>
      <p>✔&nbsp; 1 New Locale</p>
      <p>✔&nbsp; 1 Bundle*</p>
      <p>✔&nbsp; Autocomplete Engine</p>
    </div>
    <h4>
      <a href="mailto:{{site.email}}?subject=Gold License">$1000/year</a>
    </h4>
  </div>
</section>