<ul>
    <li>🇺🇸 English</li>
</ul>
<ul>
    <li>🇦🇱 Albanian</li>
    <li>🇦🇪 Arabic</li>
    <li>🇧🇷 Brazilian</li>
    <li>🇩🇰 Danish</li>
    <li>🇳🇱 Dutch</li>
    <li>🇺🇸 English (US)</li>
    <li>🇬🇧 English (UK)</li>
    <li>🇪🇪 Estonian</li>
    <li>🇫🇮 Finnish</li>
    <li>🇫🇷 French</li>
    <li>🇩🇪 German</li>
    <li>🇮🇸 Icelandic</li>
    <li>🇮🇪 Irish</li>
    <li>🇮🇹 Italian</li>
    <li>🇹🇯 Kurdish Sorani</li>
    <li>🇱🇻 Latvian</li>
    <li>🇱🇹 Lithuanian</li>
    <li>🇳🇴 Norwegian</li>
    <li>🇮🇷 Persian</li>
    <li>🇵🇱 Polish</li>
    <li>🇵🇹 Portuguese</li>
    <li>🇷🇺 Russian</li>
    <li>🇪🇸 Spanish</li>
    <li>🇸🇪 Swedish</li>
    <li>🇹🇷 Turkish</li>
    <li>🇺🇦 Ukranian</li>
</ul>