{% assign email = site.urls.email | append: "?subject=" | append: include.product.name | append: " License Inquiry" %}

<a name="pricing"></a>
<h2>Pricing</h2>

{% if include.free == 1 %}
This SDK is <a href="{{include.product.github}}">free</a> to start using (using the license key “FREE”), and can be upgraded with Pro features.
{% endif %}

<p>
  The standard tiers are aimed at indies and small businesses. <a href="{{email}}">Reach out for a custom plan</a> if you're an enterprise, have $10M+ in annual revenue, or if your product exceeds $1M in annual proceeds.
</p>