#### [Home](/)
<h1 class="blog-title">
  Blog
</h1>

<h3 class="blog-menu">
  <ul class="horizontal">
    <li><a 
      href="/blog" class="{% if include.latest == true %}active{% endif %}">Latest</a></li>{%- if include.year -%}<li><a 
      href="/blog/{{include.year}}" class="active">{{include.year}}</a></li>{%- endif -%}<li><a 
      href="/blog/archive" class="{% if include.archive == true %}active{% endif %}">Archive</a></li><li><a 
      href="/blog/tags" class="{% if include.tags == true %}active{% endif %}">Tags</a></li></ul>
</h3>