{%- assign post=include.post -%}
{%- assign link=include.link | default: false -%}

<header>
  {%- if link -%}
  <a href="{{ post.url | relative_url }}">
  {%- endif -%}
  <h1>{{ post.title | escape }}</h1>
  {%- if link -%}
  </a>
  {%- endif -%}

  <ul class="horizontal post-info">
    <li>
      {%- assign blog_url = "blog" | relative_url -%}
      {%- assign year_path = post.date | date: "%Y" -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ post.date | date: date_format }}
    </li>
    <li>
      {%- for tag in post.tags -%}
      {%- assign href = "blog/tags#" | append: tag -%}
      <a href="{{ href | relative_url }}">#{{ tag }}</a>
      {%- endfor -%}
    </li>
  </ul>
  <br />
</header>