<ul class="horizontal menu">
  {%- for path in site.header_pages -%}
    {%- assign current-page = site.pages | where: "path", path | first -%}
    {%- assign title = current-page.title | default:current-page.name | escape -%}
    {%- if title -%}
    <li>
      {%- if current-page.id == "pricing" -%}
      <a href="{{ current-page.url | relative_url }}" class="{{ current-page.id }} sticker scale">{{ title }}</a>
      {%- else -%}
      <a href="{{ current-page.url | relative_url }}" class="{{ current-page.id }}">{{ title }}</a>
      {%- endif -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>