<footer class="site-footer paper">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <hr />
    <div class="row">
      {%- assign pages = site.pages -%}
      {%- assign paths_site = site.footer_pages_sitemap -%}
      {%- assign paths_app = site.footer_pages_app -%}
      
      <div class="column">
        <p>Site</p>
        {% include kankoda/global/site-footer-links.html paths=site.footer_sitemap %}
      </div>

      <div class="column">
        <p>News</p>
        {% if site.urls.blog %}
        <a href="{{site.urls.blog}}">Blog</a>
        {% endif %}
        {% if site.urls.blog-archive %}
        <a href="{{site.urls.blog-archive}}">Blog Archive</a>
        {% endif %}
        {% if site.urls.newsletter %}
        <a href="{{site.urls.newsletter}}">Newsletter</a>
        {% endif %}
        {% if site.urls.rss %}
        <a href="{{site.urls.rss}}">RSS</a>
        {% endif %}
      </div>
      
      <div class="column">
        <p>Social</p>
        <a href="{{site.urls.email}}">E-mail</a>
        {% if site.urls.bluesky %}
        <a href="{{site.urls.bluesky}}">Bluesky</a>
        {% endif %}
        {% if site.urls.mastodon %}
        <a href="{{site.urls.mastodon}}">Mastodon</a>
        {% endif %}
        {% if site.urls.instagram %}
        <a href="{{site.urls.instagram}}">Instagram</a>
        {% endif %}
        {% if site.urls.linkedin %}
        <a href="{{site.urls.linkedin}}">LinkedIn</a>
        {% endif %}
      </div>
      
      {% if site.footer_extra_title %}
      <div class="column">
        <p>{{site.footer_extra_title }}</p>
        {% include kankoda/global/site-footer-links.html paths=site.footer_extra %}
      </div>
      {% endif %}
      
      {% if site.is_app == 1 %}
      <div class="column">
        <p>App</p>
        <a href="{{site.urls.appstore}}">App Store</a>
        {% include kankoda/global/site-footer-links.html paths=site.footer_app %}
      </div>
      {% endif %}
      
      {% if site.is_lib == 1 %}
      <div class="column">
        <p>Code</p>
        <div>
          <a href="{{site.urls.github}}">GitHub</a>
          {% if site.urls.github_pro %}
            <a href="{{site.urls.github_pro}}">(Pro)</a>
          {% endif %}
        </div>
        <div>
          <a href="{{site.urls.docs}}">Docs</a>
          {% if site.urls.docs_pro %}
            <a href="{{site.urls.docs_pro}}">(Pro)</a>
          {% endif %}
        </div>
        <div>
          <a href="{{site.urls.github}}/issues">Issues</a>
        </div>
      </div>
      {% endif %}

      <div class="column">
        <p>Kankoda</p>
        <a href="https://kankoda.com">Kankoda</a>
        <a href="https://keyboardkit.com">KeyboardKit</a>
        <a href="https://kankoda.com/licensekit">LicenseKit</a>
        <a href="https://wally.app">Wally</a>
      </div>

    </div>

    <div class="copyright">
      © {{site.copyright_year}} <a href="{{site.copyright_url}}">{{site.copyright_owner}}</a>. All rights reserved.
    </div>
  </div>
</footer>
