<header class="site-header" role="banner">
  <div class="wrapper">
    {% if site.header_axis == "vertical" %}
    <div class="center-content">
      <p>
        {% include kankoda/global/site-header-logo.html %}
      </p>
      {% include kankoda/global/site-header-links.html %}
    </div>
    {% else %}  
    <div class="row">
      <div class="column">
        {% include kankoda/global/site-header-logo.html %}
      </div>
      <div class="column links">
        {% include kankoda/global/site-header-links.html %}
      </div>
    </div>
    {% endif %}
  </div>
</header>