<ul class="horizontal menu">
  {%- for path in site.header.pages -%}
    {%- assign current-page = site.pages | where: "path", path | first -%}
    {%- assign title = current-page.title | default:current-page.name | escape -%}
    <li>
      <a href="{{ current-page.url | relative_url }}" class="{{ current-page.id }}">
        {{ title }}
      </a>
    </li>
  {%- endfor -%}
  {%- if site.header.cta -%}
  <li>
    <a href="{{ site.header.cta.url }}" class="cta">
      {{ site.header.cta.title }}
    </a>
  </li>
  {%- endif -%}
</ul>