html, body {
  color: #111;
  background-color: hsl(230, 8%, 90%);
}

.site-header {
  background-color: hsl(230, 8%, 90%);
}

a, a:visited {
  color: #111;
  font-weight: bold;
}

a:hover {
  color: #555;
}