$background: #fff;
$foreground: #111;
$gray: hsl(230, 8%, 90%);
$box: #f0f0f0;

html, body {
  color: $foreground;
  background-color: $background;
}

.site-header {
  background-color: $gray;
}

a, a:visited {
  color: $foreground;
  font-weight: bold;
}

a:hover {
  color: #555;
}