html, body {
  width: 100%;
}

.site-header, .site-footer {
  border: 0 !important;
  margin-top: 30px;
  text-align: center;
}

.site-footer {
  margin-top: 0;
  text-align: center;
  p { padding: 20px 0; }
}

footer {
  margin-top: 50px;
}