.home {
    
    .hero-grid {
        margin: 80px 0;
        grid-template-columns: repeat(2, 1fr);
    
        img {
            box-shadow: none;
            width: 225px;
        }

        .flags {
            padding: 40px 0;

        }

        a p {
            font-weight: normal;
        }
        h2, p {
            text-align: left;
        }

        h2 {
            font-size: 1.2em;
        }
    }
}