.grid { 
  display: grid; 
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);

  p {
    margin: 20px 0 0 0;
  }
}

.grid.sponsors {
  grid-template-columns: repeat(3, 1fr);
}

.grid.licenses {

  margin: 30px 0;
  grid-template-columns: repeat(3, 1fr);

  div {
    background-color: #fff;
    border-radius: 7px;
    padding: 20px 10px;
    box-shadow: 0px 2px 0px #0004;
    
    h2, h3 { margin-top: 0px; }
    h4 { margin: 20px 0 0 0; }

    div {
      padding: 0 10px;
      text-align: left;
      box-shadow: none;

      p {
        margin: 5px 0;
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 600px) {
  .grid.grid.licenses { 
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px;
    margin-right: 50px;
  }
}