.hero {
    background-color: $gray;
    padding-top: 70px;
}

.hero-line {
    height: 100px;
    background: linear-gradient(to top left, #fff 0%, #fff 50%, $gray 50%, $gray 100%);
    margin-top: -250px;
    margin-bottom: 200px;
}