.hero {
    img {
        width: 300px !important;
        border-radius: 0 !important;
    }
}

.home {
    .hero {
        img {
            width: 100% !important;
        }
    }
}

@media (max-width: 500px) {

    .hero {

        h1 {
            font-size: 2em !important;
        }

        img {
            width: 250px !important;
        }
    }
}