.home.hero {

    img {
        width: 100%;
        margin-top: 30px;
    }

    .hero-line {
        margin-top: -180px;
        margin-bottom: 120px;
    }
}

.hero {

    img {
        width: 350px;
    }

    .hero-line {
        margin-top: -215px;
        margin-bottom: 160px;
    }
}