.home {
    .hero-line {
        margin-top: -180px;
        margin-bottom: 120px;
    }
}

.about, .open-source, .pro {

    img {
        width: 350px;
    }

    .hero-line {
        margin-top: -215px;
        margin-bottom: 160px;
    }
}

.hero {

    .emoji-h1 {
        margin-top: -20px;
        margin-bottom: -40px;
    }

    .emoji-h1.globe {
        margin-top: -20px;
        margin-bottom: -60px;
    }

    .emoji-h1.license {
        margin-top: -20px;
        margin-bottom: -80px;
    }
}