.home {

    .hero img {
      max-height: 450px;
    }

    .home-content section {
        margin-bottom: 20px !important;

        .grid {
            margin-top: 30px;
        }
    }

    .blog.list {
        h2 {
            margin-top: 0 !important;
        }
    }
}

.hero-button-container {
  margin-top: 0px;
}

.site-header .logo img {
  max-height: 65px !important;
}

.grid.features {
  .image-container { 
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); // For Safari support
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    
    // &::before {
    //   content: "";
    //   position: absolute;
    //   inset: 0;
    //   background: url('/assets/bg/glass-grid-1.jpg') center/cover no-repeat;
    //   opacity: 0.5; // 10% opacity
    //   z-index: 0;
    //   pointer-events: none;
    //   border-radius: 12px;
    // }

    // Ensure content is above the pseudo-element
    > * {
      position: relative;
      z-index: 1;
    }

  }
}

@media (max-width: 500px) {

    // Hide open-source on smaller screens
  .feature-table {
    .grid {
      grid-template-columns: repeat(3, 1fr) !important;
    }
    .feature + div { display: none !important; }
  }
}

.box {
  text-align: center;
  margin: 40px 0;
  border: solid 2px black;
  border-radius: 1em;
  padding: 15px;
  font-size: 0.9em;
  h4 { margin-top: 0; }
  p { margin: 0 !important; }
  color: white;
  background-color: #333;
}

.box a, .box a:visited {
  color: white;
}

.box.pro {
  color: $foreground;
  border-color: gold;
  background-color: rgba(255, 215, 0, 0.2);
}

.box {
  font-size: 1em;
  font-weight: 600;
}