.home {

    .hero img {
      max-height: 450px;
    }

    .home-content section {
        margin-bottom: 20px !important;

        .grid {
            margin-top: 30px;
        }
    }

    .blog.list {
        h2 {
            margin-top: 0 !important;
        }
    }
}

.hero-button-container {
  margin-top: 0px;
}

.site-header .logo img {
  max-height: 65px !important;
}

.grid.features {
  .image-container { 
    background-size: cover; 
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
  }
  a:nth-child(4n + 1) .image-container { background-image: url(/assets/bg/glass-grid-1.jpg) !important; }
  a:nth-child(4n + 2) .image-container { background-image: url(/assets/bg/glass-grid-2.jpg) !important; }
  a:nth-child(4n + 3) .image-container { background-image: url(/assets/bg/glass-grid-3.jpg) !important; }
  a:nth-child(4n + 4) .image-container { background-image: url(/assets/bg/glass-grid-4.jpg) !important; }
}

@media (max-width: 500px) {

    // Hide open-source on smaller screens
  .feature-table {
    .grid {
      grid-template-columns: repeat(3, 1fr) !important;
    }
    .feature + div { display: none !important; }
  }
}

.box {
  text-align: center;
  margin: 40px 0;
  border: solid 2px black;
  border-radius: 1em;
  padding: 15px;
  font-size: 0.9em;
  h4 { margin-top: 0; }
  p { margin: 0 !important; }
  color: white;
  background-color: #333;
}

.box a, .box a:visited {
  color: white;
}

.box.pro {
  color: $foreground;
  border-color: gold;
  background-color: rgba(255, 215, 0, 0.2);
}

.box {
  font-size: 1em;
  font-weight: 600;
}