html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.home {
  h1 { font-size: 2.5em; }
  
  p { margin: 30px 0; }
  
  .usp { 
    font-weight: 600 !important;
    font-size: 1.2em; 
  }
}

footer {
  margin-top: 50px;
  font-size: 0.8em;
}



// Header lines ******

h2, h3, h4 {
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}

h2:before, h2:after, h3:before, h3:after, h4:before, h4:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before, h3:before, h4:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after, h3:after, h4:after {
  left: 0.5em;
  margin-right: -50%;
}