{% if include.script %}
  {% include kankoda/gumroad/script.html %}
{% endif %}

{% assign terms="/pro/terms-and-conditions" %}

<section class="feature-table {{include.price}}">

  {% include kankoda/licenses/tiers-header.html tiers=include.tiers price=include.price %}

  {% include kankoda/licenses/table-row.html row=01 feature="Languages" columns="1,5,<a href='/features/localization'>&nbsp;72&nbsp;</a>,<a href='/features/localization'>&nbsp;72&nbsp;</a>" title="KeyboardKit Pro unlocks fully localized keyboards and services for all locales." url="/features/localization" %}
  
  <hr />
  
  {% include kankoda/licenses/table-row.html row=01 feature="Autocomplete"      columns="✔,✔,✔,✔" title="Unlock autocomplete & auocorrect for the languages in your license." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Autocorrect"       columns="✔,✔,✔,✔" title="Unlock autocomplete & auocorrect for the languages in your license." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Layout Add-Ons"    columns="✔,✔,✔,✔" title="Unlock additional layout capabilities that make it easier to customize your layouts." url="/features/layout" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="AI Support"            columns="-,✔,✔,✔" title="Unlock tools that support implementing AI-based features." url="/features/ai" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Full Document Reader"  columns="-,✔,✔,✔" title="Unlock ways to read the entire text document, instead of just the text next to the cursor." url="/features/proxy-utilities" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Keyboard Text Input"   columns="-,✔,✔,✔" title="Unlock text fields that can let you type within the keyboard." url="/features/text-input" %}
  
  <hr />
  
  {% include kankoda/licenses/table-row.html row=01 feature="App Screens & Views" columns="-,-,✔,✔" title="Unlock app-specific screens to kick-start your main app." url="/features/app" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Dictation"           columns="-,-,✔,✔" title="Unlock a dictation engine that lets you perform dictation from a keyboard." url="/features/dictation" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Emoji Keyboard"      columns="-,-,✔,✔" title="Unlock a full-blown emoji keyboard." url="/features/emojis" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Host App Utils"      columns="-,-,✔,✔" title="Unlock ways to easily identify the host application." url="/features/host" %}
  {% include kankoda/licenses/table-row.html row=05 feature="Input Toolbar"       columns="-,-,✔,✔" title="Unlock an input toolbar that can be added to a system keyboard." url="/features/layout" %}
  {% include kankoda/licenses/table-row.html row=06 feature="Next Word Prediction" columns="-,-,✔,✔" title="Unlock ways to perform next word prediction with 3rd party AI services." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=07 feature="Predictive Typing"   columns="-,-,✔,✔" title="Unlock autocomplete services that perform next character prediction to improve typing." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=08 feature="Remote Autocomplete" columns="-,-,✔,✔" title="Unlock a remote autocomplete engine that can integrate with remote services." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=09 feature="Themes & Styles"     columns="-,-,✔,✔" title="Unlock a theme engine with many predefined themes." url="/features/themes" %}
  {% include kankoda/licenses/table-row.html row=10 feature="Vietnamese (Beta)"   columns="-,-,✔,✔" title="Unlock a Vientamese typing engine, with support for TELEX, VIQR, and VNI." url="/features/locales" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Offline Validation"  columns="-,-,Yearly,✔" title="Yearly Gold and Enterprise licenses are compiled into the library and can be validated offline, without the need for Full Access." url="/pro/license-validation" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Additional Products" columns="-,-,-,✔" title="Custom licenses can include additional products, at a significant discount." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Custom Billing" columns="-,-,-,✔" title="Custom licenses can customize the billing, included products, etc." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Custom Terms" columns="-,-,-,✔" title="Custom licenses can customize the license terms." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Enterprise Support" columns="-,-,-,✔" title="Custom licenses can include support for additional test environments and enterprise requirements.." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=05 feature="Escrow Services" columns="-,-,-,✔" title="Enterprise licenses can include support for additional test environments and enterprise requirements.." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=06 feature="Expiration Grace" columns="-,-,-,✔" title="Custom licenses can include software escrow services, which can help protect your business." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=07 feature="Multi-platform Builds" columns="-,-,-,✔" title="Additional platforms can be added to a custom license as an add-on." url="/pro/addons" %}
  

  <hr />
  
  {% include kankoda/licenses/table-row.html row=01 feature="Support" columns="GitHub,Email,Priority,Dedicated" title="The higher tiers include priority support and can pay extra for dedicated support." url="/pro/support" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Terms" columns="Standard,Standard,Standard,Custom" title="Custom licenses can customize the terms to accomodate to any business or legal requirements." url="/pro/terms-and-conditions" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Discord Server" columns="Public,Public,Private,Private" title="Yearly Gold and License customers  The optional onboarding call lets us understand your needs to help you get started." url="/pro/support#communication" %}
  
  <hr />
</section>