{% assign terms="/pro/terms-and-conditions" %}

<section class="feature-table">
  {% include kankoda/feature-table/tiers tiers=include.tiers price=include.price %}
  
  <div class="sections">
    <div class="glass">
      {% include kankoda/feature-table/row title="Languages"   columns="1,5,<a href='/features/localization'>&nbsp;75&nbsp;</a>,<a href='/features/localization'>&nbsp;75&nbsp;</a>"  url="/features/localization"  tooltip="KeyboardKit Pro unlocks fully localized keyboards and services for all locales." %}
      {% include kankoda/feature-table/row title="Free Trial"  columns="✔,✔,✔,✔"  url="/pro/trial"  tooltip="KeyboardKit Pro includes a free 7 day trial." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="iOS"                columns="✔,✔,✔,✔"          url="/features/platforms"  tooltip="KeyboardKit is available on iOS." %}
      {% include kankoda/feature-table/row title="macOS, tvOS, etc."  columns="-,-,✔,✔"          url="/features/platforms"  tooltip="KeyboardKit Pro is available on all major Apple platforms." %}
      {% include kankoda/feature-table/row title="Android"            columns="TBD,TBD,TBD,TBD"  url="/features/platforms"  tooltip="KeyboardKit Pro is not yet available on Android." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="Autocomplete"    columns="✔,✔,✔,✔"  url="/features/autocomplete"  tooltip="Unlock autocomplete & auocorrect for the languages in your license." %}
      {% include kankoda/feature-table/row title="Autocorrect"     columns="✔,✔,✔,✔"  url="/features/autocomplete"  tooltip="Unlock autocomplete & auocorrect for the languages in your license." %}
      {% include kankoda/feature-table/row title="Layout Add-Ons"  columns="✔,✔,✔,✔"  url="/features/layout"        tooltip="Unlock additional layout capabilities that make it easier to customize your layouts." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="AI Support"            columns="-,✔,✔,✔"  url="/features/ai"               tooltip="Unlock tools that support implementing AI-based features." %}
      {% include kankoda/feature-table/row title="Document Reader"       columns="-,✔,✔,✔"  url="/features/proxy-utilities"  tooltip="Unlock ways to read the entire text document, instead of just the text next to the cursor." %}
      {% include kankoda/feature-table/row title="Keyboard Text Input"   columns="-,✔,✔,✔"  url="/features/text-input"       tooltip="Unlock text fields that can let you type within the keyboard." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="App Screens & Views" columns="-,-,✔,✔"  url="/features/app"           tooltip="Unlock app-specific screens to kick-start your main app." %}
      {% include kankoda/feature-table/row title="Autocomplete Addons" columns="-,-,✔,✔"  url="/features/autocomplete"  tooltip="Unlock a remote autocomplete engine that can integrate with remote services." %}
      {% include kankoda/feature-table/row title="Clipboard"           columns="-,-,✔,✔"  url="/features/clipboard"     tooltip="Paste from the system clipboard and custom user clips." %}
      {% include kankoda/feature-table/row title="Dictation"           columns="-,-,✔,✔"  url="/features/dictation"     tooltip="Unlock a dictation engine that lets you perform dictation from a keyboard." %}
      {% include kankoda/feature-table/row title="Emoji Keyboard"      columns="-,-,✔,✔"  url="/features/emojis"        tooltip="Unlock a full-blown emoji keyboard." %}
      {% include kankoda/feature-table/row title="Host App Utils"      columns="-,-,✔,✔"  url="/features/host"          tooltip="Unlock ways to easily identify the host application." %}
      {% include kankoda/feature-table/row title="Layout Addons"       columns="-,-,✔,✔"  url="/features/layout"        tooltip="Unlock an input toolbar that can be added to a system keyboard." %}
      {% include kankoda/feature-table/row title="Themes"              columns="-,-,✔,✔"  url="/features/themes"        tooltip="Unlock a theme engine with many predefined themes." %}
      {% include kankoda/feature-table/row title="Vietnamese Input"    columns="-,-,✔,✔"  url="/locales"                tooltip="Unlock a Vientamese typing engine, with support for TELEX, VIQR, and VNI." %}
      {% include kankoda/feature-table/row title="Custom Fonts"        columns="-,-,-,✔"  url="/features/fonts"         tooltip="Unlock the capability to type with unicode fonts." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="License File"          columns="-,-,Yearly,✔"  url="/pro/license-validation"  tooltip="Yearly Gold licenses and above are validated on-device, without the need for Full Access." %}
      {% include kankoda/feature-table/row title="On-Device Validation"  columns="-,-,Yearly,✔"  url="/pro/license-validation"  tooltip="Yearly Gold licenses and above are validated on-device, without the need for Full Access." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="Custom Billing"    columns="-,-,-,✔"  url=site.urls.business-licenses  tooltip="Business+ licenses can customize billing, included products, etc." %}
      {% include kankoda/feature-table/row title="Custom SLA"        columns="-,-,-,✔"  url=site.urls.business-licenses  tooltip="Enterprise licenses can customize the SLA and support level." %}
      {% include kankoda/feature-table/row title="Custom Terms"      columns="-,-,-,✔"  url=site.urls.business-licenses  tooltip="Business+ licenses can customize the license terms." %}
      {% include kankoda/feature-table/row title="Expiration Grace"  columns="-,-,-,✔"  url=site.urls.business-licenses  tooltip="Custom licenses can include software escrow services, which can help protect your business." %}
      {% include kankoda/feature-table/row title="Software Escrow"   columns="-,-,-,✔"  url=site.urls.business-licenses  tooltip="Enterprise licenses can include support for additional test environments and enterprise requirements.." %}
    </div>
    <div class="glass">
      {% include kankoda/feature-table/row title="Support"           columns="GitHub,Email,Priority,Dedicated"  url="/pro/support"                tooltip="The higher tiers include priority support and can pay extra for dedicated support." %}
      {% include kankoda/feature-table/row title="Discord Server"    columns="-,-,✔,✔"                          url="/pro/support#communication"  tooltip="Gold and Business customers are welcome to join the closed Discord server." %}
    </div>
  </div>
</section>