{% if include.script %}
  {% include kankoda/gumroad/script.html %}
{% endif %}

<section class="feature-table {{include.price}}">

  {% include kankoda/licenses/tiers-header.html tiers=include.tiers price=include.price %}

  {% include kankoda/licenses/table-row.html row=01 feature="Languages" columns="1,5,<a href='/features/localization'>&nbsp;60+&nbsp;</a>,<a href='/features/localization'>&nbsp;60+&nbsp;</a>" title="KeyboardKit Pro unlocks fully localized keyboards and services for all locales." url="/features/localization" %}

  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Core Features" columns="✔,✔,✔,✔" title="The KeyboardKit core features are open-source and completely free to use." url="/features" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Customizable"  columns="✔,✔,✔,✔" title="KeyboardKit can be customized and styled to great extent." url="/customization" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Autocomplete"        columns="✔,✔,✔,✔" title="Unlock autocomplete & auocorrect for the languages in your license." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Input Sets"          columns="✔,✔,✔,✔" title="Unlock additional input sets, like QWERZ and AZERTY." url="/features/layout" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Localized Services"  columns="✔,✔,✔,✔" title="Unlock input set and layout providers for the locales in your license." url="/features/localization" %}
  
  <hr />
  
  {% include kankoda/licenses/table-row.html row=01 feature="AI Support"            columns="-,✔,✔,✔" title="Unlock tools that support implementing AI-based features." url="/features/ai" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Full Document Reader"  columns="-,✔,✔,✔" title="Unlock ways to read the entire text document, instead of just the text next to the cursor." url="/features/proxy-utilities" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Text Input"            columns="-,✔,✔,✔" title="Unlock text fields that can let you type within the keyboard." url="/features/text-input" %}
  
  <hr />
  
  {% include kankoda/licenses/table-row.html row=01 feature="App Templates"       columns="-,-,✔,✔" title="Unlock app templates that make it easy to create the main app." url="/features/app" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Dictation"           columns="-,-,✔,✔" title="Unlock a dictation engine that lets you perform dictation from a keyboard." url="/features/dictation" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Emoji Keyboard"      columns="-,-,✔,✔" title="Unlock a full-blown emoji keyboard." url="/features/emojis" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Host App Directory"  columns="-,-,✔,✔" title="Unlock ways to easily identify the host application." url="/features/host" %}
  {% include kankoda/licenses/table-row.html row=05 feature="Input Toolbar"       columns="-,-,✔,✔" title="Unlock an input toolbar that can be added to a system keyboard." url="/features/layout" %}
  {% include kankoda/licenses/table-row.html row=06 feature="Latin Layouts"       columns="-,-,✔,✔" title="Unlock ways to easily reuse latin layouts across different layout providers." url="/features/layout" %}
  {% include kankoda/licenses/table-row.html row=07 feature="Remote Autocomplete" columns="-,-,✔,✔" title="Unlock a remote autocomplete engine that can integrate with remote services." url="/features/autocomplete" %}
  {% include kankoda/licenses/table-row.html row=08 feature="Themes & Styles"     columns="-,-,✔,✔" title="Unlock a theme engine with many predefined themes." url="/features/themes" %}
  {% include kankoda/licenses/table-row.html row=09 feature="Views & Components"  columns="-,-,✔,✔" title="Unlock more views and components in the various namespaces." url="https://keyboardkit.github.io/KeyboardKit/documentation/keyboardkit/" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Offline Validation"  columns="-,-,Yearly,✔" title="Yearly Gold and Enterprise licenses are compiled into the library and can be validated offline, without the need for Full Access." url="/pro/license-validation" %}

  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Onboarding Call" columns="-,-,Yearly,✔" title="The optional onboarding call lets us understand your needs to help you get started." url="/pro/support#communication" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Monthly Call" columns="-,-,Yearly,✔" title="The optional monthly call lets us keep in sync and move your products forward." url="/pro/support#communication" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Discord Server" columns="-,-,Yearly,✔" title="Yearly Gold and License customers  The optional onboarding call lets us understand your needs to help you get started." url="/pro/support#communication" %}
  
  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Custom Billing" columns="-,-,-,✔" title="Custom licenses can choose any means of billing or invoicing, PO:s, etc." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=02 feature="Custom Terms" columns="-,-,-,✔" title="Custom license customers can customize the KeyboardKit Pro license terms to accomodate to any business or legal requirements." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=03 feature="Additional Apps" columns="-,-,-,✔" title="Additional test licenses can be added to an existing license at a discounted price." url="/pro/addons" %}
  {% include kankoda/licenses/table-row.html row=04 feature="Multi-platform" columns="-,-,-,✔" title="Additional platforms can be added to a custom license as an add-on." url="/pro/addons" %}

  <hr />

  {% include kankoda/licenses/table-row.html row=01 feature="Support" columns="GitHub,Email,Priority,Dedicated" title="The higher tiers include priority support and can pay extra for dedicated support." url="/pro/support" %}
  
  <hr />

</section>