

{% assign size = {{ page.hero | size }} %}

{% if size == 0 %}
<div style="padding-top: 70px"></div>
{% else %}
<section>
    <div class="hero {{ page.hero }}">
        <div class="wrapper">
            {% if page.hero == "home" %}
                {% include heros/home.html %}
            {% elsif page.hero == "open-source" %}
                {% include heros/open-source.html %}
            {% elsif page.hero == "pro" %}
                {% include heros/pro.html %}
            {% elsif page.hero == "blog" %}
            {% endif %}
        </div>
        <div class="hero-line"></div>
    </div>
</section>
{% endif %}