---
layout: plain
---

{% if page.pro == 1 %}
{%- assign features = site.data.core-features -%}
{% else %}
{%- assign features = site.data.core-features -%}
{% endif %}

{%- assign feature = features | where:"title", page.title | first -%}

<main class="page-content feature" aria-label="Content">
  {%- assign emoji = feature.emoji -%}
  {%- assign title = feature.title -%}
  {%- assign subtitle = feature.text -%}
  {% include kankoda/heros/hero.html hero-emoji=emoji hero-title=title hero-description=subtitle %}
  <div class="wrapper">
    {{ content }}

    <h3>Documentation</h3>
    <p>For more information about this feature, code samples, etc., please see the <a href="{{feature.docs}}">online documentation</a>.</p>
  </div>
</main>