---
layout: plain
---

{%- assign features = site.data.sdk-features -%}
{%- assign feature = features | where:"title", page.title | first -%}

{% include kankoda/heros/hero.html title=feature.title emoji=feature.emoji description=feature.text paper=1 %}

<main class="page-content feature" aria-label="Content">
  <div class="wrapper">
    <article class="paper">
      <h2>Overview</h2>
      {{ content }}

      <h2>Documentation</h2>
      <p>The information on this page is shortened to be easier to overview. For more information about this feature, code samples, etc. please see the <a href="{{feature.docs}}">online documentation</a>.</p>

      <hr />

      <h2>Read more</h2>
      {% include kankoda/grid/features.html features=site.data.sdk-features %}
    </article>
  </div>
</main>