<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include kankoda/head/head.html %}

  <body class="{{page.id}} {{page.page-class}}"> 
    
    <!-- Header -->
    <header class="site-header" role="banner">
      {% include kankoda/global/site-header.html %}
    </header>

    <!-- Content -->
    <main class="page-content" aria-label="Content">
      {% include kankoda/heros/hero.html %}
      {{ content }}
    </main>

    <!-- Footer -->
    {% include kankoda/global/site-footer.html %}
  </body>
</html>
