---
layout: default
---

<article class="blog post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  
  {% include kankoda/buttons/back.html url="/blog" title="Blog" %}

  <h1>
    {{ page.title | escape }}
  </h1>

  {% include kankoda/blog/post-header.html post=page follow=1 %}

  <div class="e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.tweet -%}
    <h2>Discussions & More</h2>

    {%- if site.disqus.shortname -%}
    <p>
      If you found this interesting and would like to share your thoughts, please comment in the
      Disqus section below or reply to {% include kankoda/blog/discussion-links.html %}.
    </p>
    {%- else -%}
    <p>
      If you found this interesting, please share your thoughts by repling to 
      {% include kankoda/blog/discussion-links.html %}.
    </p>
    {%- endif -%}
    <p>
      Follow on <a href="{{site.urls.twitter}}">Twitter</a> and <a href="{{site.urls.mastodon}}">Mastodon</a> to be notified when new content & articles are published.
    </p>
  {%- endif -%}

  <a class="u-url" href="{{page.url | relative_url}}" hidden></a>
</article>

{% include kankoda/disqus/disqus-card.html %}
{% include kankoda/tags/scripts.html %}