---
layout: default
---

<article class="blog post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  
  {% include kankoda/buttons/back.html url="/blog" title="Blog" %}

  {% assign url_bluesky = page.bsky | default: site.urls.bluesky %}  
  {% assign url_mastodon = page.toot | default: site.urls.mastodon %}  
  {% assign url_twitter = page.tweet | default: site.urls.twitter %}  
  
  <h1>
    {{ page.title | escape }}
  </h1>

  {% include kankoda/blog/post-info.html post=page follow=1 %}

  <div class="e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2>Discussions & More</h2>
  <p>
    If you found this interesting, please share your thoughts on 
    <a href="{{url_bluesky}}">Bluesky</a>, 
    <a href="{{url_mastodon}}">Mastodon</a>, and
    <a href="{{url_twitter}}">X</a>. 
    Also make sure to follow to be notified when new content is published.
  </p>

  <a class="u-url" href="{{page.url | relative_url}}" hidden></a>
</article>

{% include kankoda/tags/scripts.html %}